apiVersion: apps/v1
kind: Deployment
metadata:
  name: flux-test
  labels:
    app.kubernetes.io/name: flux-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: flux-test
  template:
    metadata:
      labels:
        app.kubernetes.io/name: flux-test
    spec:
      containers:
        - name: app
          image: flux-test:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8000
          env:
            - name: APP_VERSION
              value: "local"
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 20
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 250m
              memory: 256Mi
