apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
images:
  - name: ghcr.io/cjfochler/flux-demo
    newTag: ghcr.io/cjfochler/flux-demo:v0.0.2 # {"$imagepolicy": "flux-system:flux-demo-prod"}
